# ==============================
# META / INSTAGRAM
# ==============================
META_ACCESS_TOKEN=
IG_USER_ID=
AD_ACCOUNT_ID=act_
META_APP_ID=
META_APP_SECRET=

# ==============================
# OPENAI
# ==============================
OPENAI_API_KEY=

# ==============================
# CONFIGURAÇÕES DA HAMBURGUERIA
# ==============================
BUSINESS_NAME=Bruthus Burger
ORDER_LINK=https://bruthus-burger.ola.click/products
CITY=Fortaleza
STATE=CE

# ==============================
# SERVIDOR
# ==============================
PORT=3000
